<div id="cover-wrapper" style="background: url('http://www.questionsonislam.com/sites/default/files/free-mountain-desktop-backgrounds.jpg') no-repeat center center scroll; background-size: cover;">
</div>

<div id="test-content">
  <h1>Hello There</h1>
</div>