<header>
  <h3>New Memorial</h3>
</header>

<form action="/create_memorial" method="post">
  <table>
    <tr>
      <td><label for="name">Name</label></td>
      <td><input type="text" name="name" id="name"></td>
    </tr>
    <tr>
      <td><label for="born">Born</label></td>
      <td><input type="date" name="born" id="born"></td>
    </tr>
    <tr>
      <td><label for="died">Died</label></td>
      <td><input type="date" name="died" id="died"></td>
    </tr>
    <tr>
      <td><label for="photo">Photo</label></td>
      <td><input type="text" name="photo" id="photo"></td>
    </tr>
  </table>
  <button>Create</button>
</form>