<header>
  <h3>New Memorial</h3>
</header>

<form action="/create_memorial" method="post">
  <table>
    <tr>
      <td>
        <label for="name_of_remembered">Name</label>
      </td>
      <td>
        <input type="text" name="name_of_remembered">
      </td>
    </tr>
    <tr>
      <td>
        <label for="date_of_birth">Born</label>
      </td>
      <td>
        <input type="date" name="date_of_birth">
      </td>
    </tr>
    <tr>
      <td>
        <label for="date_of_death">Died</label>
      </td>
      <td>
        <input type="date" name="date_of_death">
      </td>
    </tr>
  </table>
  <button>Create</button>
</form>