<section class="clearfix">
  <nav id="nav_bar">
    <div class="nav_link">
      <a href="/">Home</a>
    </div>
    <div class="nav_link">
      <a href="/logout">Logout</a>
    </div>
  </nav>
</section>

  <h3 class="center">New Memorial</h3>

<section class="clearfix">
  <article class="one_third">
  </article>
  <article class="one_third">
    <form action="/create_memorial" method="post">
      <label for="name">Name</label><br>
      <input type="text" name="name" class="input_box"><br>
      <label for="photo">Photo</label><br>
      <input type="text" name="photo" class="input_box"><br>
      <label for="born">Born</label><br>
      <input type="date" name="born" class="input_box"><br>
      <label for="died">Died</label><br>
      <input type="date" name="died" class="input_box"><br><br>
      <button class="submit_button">Create</button>
    </form>
  </article>
  <article class="one_third">
  </article>
</section>

