


<section class="clearfix">
  <article class="full_column">
    <div id="home_title">
      <p class="page_title">Sonder</p>
      <p class="page_subtitle">A community for remembering those we've lost.</p>
    </div>
  </article>
</section>


<div class="wrapper">

  <section class="clearfix">

    <article class="one_third">
      <h3 style="text-align: center">Sign In</h3>
      <form action="/signin" method="post">
        <label for="email">Email</label><br>
        <input class="input_box" type="text" name="email" id="email" required><br>
        <label for="password">Password</label><br>
        <input class="input_box" type="password" name="password" id="password" required><br><br>
        <button class="submit_button">Sign In</button>
      </form>
      <p class="center">Haven't signed up yet?</p>
      <form action="/register">
        <button id="register_button" style="text-align: center">Register</button>
      </form>
    </article>

    <article class="two_third">
      <h1>SOME CONTENT</h1>
    </article>

  </section>

</div>