<form action="/create_memorial">
  <button id="create_memorial_button">Create Memorial</button>
</form>

<form action="/logout">
  <button>
    Logout
  </button>
</form>

<h3>Your Memorials</h3>

<% memorials.each do |memorial_hash| %>
  <h7>
    <a href="/memorial/<%= memorial_hash['id'] %>">
      <%= memorial_hash["name"] %>
    </a>
  </h7><br>
<% end %>

<h3>Other Memorials</h3>

<% all_memorials.each do |memorial_hash| %>
  <% if memorial_hash["creator_id"].to_i != session[:user_id] %>
    <h7>
      <a href="/memorial/<%= memorial_hash['id'] %>">
        <%= memorial_hash["name"] %>
      </a>
    </h7><br>
  <% end %>
<% end %>