<section class="clearfix">
  <nav id="nav_bar">
    <div class="nav_link">
      <a href="/">Home</a>
    </div>
    <div class="nav_link">
      <a href="/logout">Logout</a>
    </div>
  </nav>
</section>

<section class="clearfix">
  <article class="one_fourth">
  </article>
  <article class="one_fourth">
    <form action="/create_memorial">
      <button class="home_action_button" id="create_memorial_button">Create Memorial</button>
    </form>
  </article>
  <article class="one_fourth">
    <form action="/memorials/find">
      <button class="home_action_button">Find Memorial</button>
    </form>
  </article>
  <article class="one_fourth">
  </article>
</section>

<section class="clearfix">
  <article class="full_column">
    <p style="text-align: center; font-size:30px;">Your Memorials</p>

    <% memorials.each do |memorial_hash| %>

      <div class="memorial_display">
        <div class="home_memorial_photo">
          <img id="photo" src="<%= memorial_hash["photo"] %>">
        </div>

        <div>
          <p class="home_memorial_name">
            <a href="/memorial/<%= memorial_hash['id'] %>">
              <%= memorial_hash["name"] %>
            </a>
          <p>
        </div>
      </div>
        <br>

    <% end %>
  </article>
</section>
