<form action="/create_memorial">
  <button id="create_memorial_button">Create Memorial</button>
</form>

<form action="/logout">
  <button>
    Logout
  </button>
</form>

<h1>Your Memorials</h1>

<% memorials.each do |memorial_hash| %>
  <h7>
    <a href="/memorial/<%= memorial_hash['id'] %>">
      <%= memorial_hash["name"] %>
    </a>
  </h7><br>
<% end %>