<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">

    <title>Sonder</title>

    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700' rel='stylesheet' type='text/css'>

    <link href="/style.css" rel="stylesheet" type="text/css"/>

  </head>

  <body>

    <div id="content">
      <div class="wrapper">
      <p style="color: green"><%= flash[:notice] if flash[:notice] %></p>
      <p style="color: red"><%= flash[:error] if flash[:error] %></p>

        <%= yield %>

      </div>
    </div>


    <footer>
      <div class="wrapper">

      </div>

    </footer>

  </body>
</html>