<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">

    <title>Sonder</title>

    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

    <link href="stylesheet.css" rel="stylesheet" type="text/css" />

  </head>

  <body>

    <nav>
      <div class="wrapper">
        <table>
          <tr>
            <td>
              <h4>
                <a href="/" class="nav_bar">Home</a>
              </h4>
            </td>
            <td>
              <h4>
                <a href="/logout" class="nav_bar">Logout</a>
              </h4>
            </td>
          </tr>
        </table>
      </div>


    </nav>

    <div id="content">
      <div class="wrapper">
      <p style="color: green"><%= flash[:notice] if flash[:notice] %></p>
      <p style="color: red"><%= flash[:error] if flash[:error] %></p>

        <%= yield %>

      </div>
    </div>


    <footer>
      <div class="wrapper">

      </div>

    </footer>

  </body>
</html>