<h3 class="center">Other Memorials</h3><br>

<% all_memorials.each do |memorial_hash| %>
  <% if memorial_hash["creator_id"].to_i != session[:user_id] %>
    <div class="memorial_display">
      <div class="home_memorial_photo">
        <img id="photo" src="<%= memorial_hash["photo"] %>">
      </div>

      <div>
        <p class="home_memorial_name">
          <a href="/memorial/<%= memorial_hash['id'] %>">
            <%= memorial_hash["name"] %>
          </a>
        <p>
      </div>
    </div>
  <% end %>
<% end %>
