<section class="clearfix">
  <nav id="nav_bar">
    <div class="nav_link">
      <a href="/">Home</a>
    </div>
  </nav>
</section>

<section class="clearfix">
  <article class="one_fourth">
  </article>
  <article class="one_half">
    <h1 style="text_align: center">Register Below</h1>

    <form action="/register" method="post">

      <label for="first">First Name</label><br>
      <input class="input_box" type="text" name="first" required><br>

      <label for="last">Last Name</label><br>
      <input class="input_box" type="text" name="last" required><br>

      <label for="email">Email</label><br>
      <input class="input_box" type="text" name="email" required><br>

      <label for="password">Password</label><br>
      <input class="input_box" type="password" name="password" required><br><br>

      <button class="submit_button">Register</button>
    </form>
  </article>
  <article class="one_fourth">
  </article>
</section>