<h1>Register Below</h1>

<form action="/register" method="post">

  <label for="first">First Name</label><br>
  <input type="text" name="first" required><br>

  <label for="last">Last Name</label><br>
  <input type="text" name="last" required><br>

  <label for="email">Email</label><br>
  <input type="text" name="email" required><br>

  <label for="password">Password</label><br>
  <input type="password" name="password" required><br>

  <button>Register</button>
</form>


