
@font-face {
    font-family: "Fira Sans Light";
    src: url('FiraSans-Light.otf') format('opentype');
}
@font-face {
    font-family: "Fira Sans Regular";
    src: url('FiraSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Fira Sans Bold";
    src: url('fira-sans/FiraSans-Bold.otf') format('opentype');
}

/*
	STYLE.CSS:
	One stylesheet to rule them all.

	selector { property:value }

*/

* {
    font-family: 'Fira Sans Regular';
}

/* Layout */

#body-background {
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.site_nav {
    margin-left: 20px;
    margin-right: 20px;
}

div .nav_link {
    margin-left: 10px;
    font-size: 20px;
    display: inline-block;
}

a:link {
    text-decoration: none;
    color: darkgray;
}

a:visited {
    color: darkblue;
}

a:hover {
    color: lightblue;
}

.flash_notice {
    color: green;
}

.flash_error {
    color: red;
}

/* Homepage */

/*#home_logout {*/
    /*background-image: url('/images/manhattan.jpg');*/
    /*background-size: 100% 100%;*/
    /*height: 900px;*/
/*}*/

#home_wrapper {
    background-color: transparent;
}

#home_title {
    text-align: center;
    color: white;
}

#home_form {
    color: white;
}

.home_button {
    border-radius: 4px;
    display: block;
    width: 8em;
    height: 2.5em;
    margin: auto;
    padding: 10px;
    background-color: lightgrey;
    font-weight: bold;
    text-align: center;
    color: black;
}

.page_title {
    font-family: "Fira Sans Bold";
    font-size:50px;
    margin: 5px;
    padding: 0;

}

.page_subtitle {
    font-size: 25px;
    margin: 5px;
    padding: 0;
}

.table_cell {
    width: 4em;
    font-size: 20px;
    margin: 10px;
}

/* Memorials */

#memory_box {
    width: 100%;
}

#add_memory_button {
    width: 5em;
}

.memory_name {
    font-family: "Fira Sans Bold";
    margin: 0px 3px 0px 3px;
}

.memory_content {
    font-family: "Fira Sans Light";
    margin: 0px 3px 0px 3px;
    word-wrap: break-word;
}

.card_content {
    margin: 0px 3px 0px 3px;
}


.input_box {
    width: 100%;
    align: center;
    color: black;
}

.memory_favorite_button {
    background:none;
    border:none;
    padding:0;
    color: mediumblue;
    cursor: pointer;
}

#memorial_page_name {
    font-size: 35px;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
}

.favorites-bar {
    display: inline-block;
}

.submit_button {
    display: block;
    width: 8em;
    height: 2.5em;
    margin: auto;
    padding: 10px;
    background-color: lightgrey;
    font-weight: bold;
}

#join_button {
    display: block;
    width: 8em;
    height: 4em;
    margin: auto;
    padding: 10px;
    background-color: lightgrey;
    font-weight: bold;
}

.memory_card {
    width:460px;
    background-color: white;
    border: solid lightblue 1px;
}

div .memorial_display {
    width: 40%;
    margin: auto;
}


div .home_memorial_photo {
    height: 75px;
    width: 50px;
    float: left;
    border-radius: 50%;
}

div .home_memorial_name {
    font-size: 30px;
    text-align: center;
    width: 10em;
    float: left;
}

#large_photo {
    height: 300px;
    width: 200px;
    border-radius: 50%;
}

#photo {
    height: 75px;
    width: 50px;
    border-radius: 50%;
}

.born_died {
    display: inline-block;
    font-size: 30px;
    margin: 0;
    font-family: "Fira Sans Light";
}


.home_action_button {
    width: 10em;
    height: 2.5em;
    background-color: white;
    border: solid lightblue 1px;
    border-radius: 10px;
}

#register_button {
    display: block;
    width: 8em;
    height: 2.5em;
    margin: auto;
    background-color: lightgrey;
    font-weight: bold;
}

.center {
    text-align: center;
}

/* ----- =structure ----- */


body {
    background-color: #E0FAD4;
}

header {
    background-color: white;  /* Dark Grey */
}

header img {
    width: 300px;
    height: 100px;
}

nav {
    background-color: transparent;  /* Light Grey */
    height: 30px;
}

footer {
    background-color: #c5c5c5;  /* Dark Grey */
}

.wrapper {
    margin: auto;
    width: 980px;
    background-color: transparent;
}


/* ----- =columns ----- */

.one_half { 	 width:460px; }
.one_third {	 width:300px; }
.two_third {	 width:620px; }
.one_fourth {	 width:220px; }
.three_fourth { width:700px; }
.full_column {	 width:940px; }

article {
    position:relative;
    margin-left:20px;
    margin-bottom:16px;
    float:left;
    /*border: solid #000 1px;*/
}


/* clearfix */
.clearfix:before,
.clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix { *zoom: 1; }


/* DEMO STYLE - Box Outlines  */

article {
    box-sizing:border-box;
    /*border: solid #000 1px;*/
    /*padding: 10px;*/
}

section {
    box-sizing:border-box;
    /*border: solid red 1px;*/
}

