development:
  adapter: postgresql
  encoding: unicode
  database: sonder
  pool: 5
  username: gschool
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: sonder_test
  pool: 5
  username: gschool
  password:
