
/*
	STYLE.CSS:
	One stylesheet to rule them all.

	selector { property:value }

*/

#create_memorial_button {

}

/* ----- =structure ----- */


body {
    background-color:#000;

}

header {
    background-color: #c5c5c5;  /* Dark Grey */
}

header img {
    width: 300px;
    height: 100px;
}

nav {
    background-color: #f4f4f4;  /* Light Grey */
    height: 30px;
}

#content {
    background-color: #fff;  /* White */
}

footer {
    background-color: #c5c5c5;  /* Dark Grey */
}

.wrapper {
    margin: auto;
    width: 980px;
}


/* ----- =columns ----- */

.one_half { 	 width:460px; }
.one_third {	 width:300px; }
.two_third {	 width:620px; }
.one_fourth {	 width:220px; }
.three_fourth { width:700px; }
.full_column {	 width:940px; }

article {
    position:relative;
    margin-left:20px;
    margin-bottom:16px;
    float:left;
    border: solid #000 1px;
}






/* clearfix */
.clearfix:before,
.clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix { *zoom: 1; }





/* DEMO STYLE - Box Outlines  */

article {
    box-sizing:border-box;
    border: solid #000 1px;
    padding: 10px;
}

section {
    box-sizing:border-box;
    border: solid red 1px;
    padding: 20px 0 10px 0;
}
